@page "/experimental/edit/{id?}"

@inherits EditBase<ExperimentalTrading> 

<Validations @ref="Validations" Mode="ValidationMode.Auto" ValidateOnLoad="false" EditContext="@EditContext">
<Row>
    <Column ColumnSize="ColumnSize.IsFull.OnMobile.IsHalf.OnTablet">
        <Card Margin="Margin.Is4">
            <CardHeader>
                <CardTitle>@(Id == null ? "Add new experimental trade" : "Edit experimental trade")</CardTitle>
            </CardHeader>
                <CardBody>
                    <Validation Validator="@ValidationRule.IsNotEmpty">
                        <Field ColumnSize="ColumnSize.IsHalf.OnTablet.IsFull.OnMobile">
                            <FieldLabel>Name</FieldLabel>
                            <TextEdit 
                                Placeholder="Enter name" 
                                Autofocus="true"
                                @bind-Text="@Model.Name">
                                <Feedback>
                                    <ValidationError>Enter name for trade.</ValidationError>
                                </Feedback>                            
                            </TextEdit>
                            @* <FieldHelp>A name that represents the circular trade.</FieldHelp> *@
                        </Field>
                    </Validation>
                    
                    <Field ColumnSize="ColumnSize.IsHalf.OnTablet.IsHalf.OnMobile">
                        <Button Color="Color.Primary" Clicked="@Submit">Save</Button>
                    </Field>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Validations>
