
@namespace EtAlii.BinanceMagic.Service

<Card Color="Color.Secondary">
    <Icon Name="IconName.Clock" />    
@* <div class="alert alert-secondary mt-4" role="alert"> *@
@*     <span class="oi oi-clock mr-2" aria-hidden="true"></span> *@
    <strong>@Title</strong>
    <Table>
        <TableBody>
            <TableRow>
                <TableRowCell>Sell: </TableRowCell><TableRowCell>@Sell</TableRowCell>
                <TableRowCell>Quantity: </TableRowCell><TableRowCell>@SellQuantity</TableRowCell>
                <TableRowCell>Trend: </TableRowCell><TableRowCell>@SellTrend</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Buy: </TableRowCell><TableRowCell>@Buy</TableRowCell>
                <TableRowCell>Quantity: </TableRowCell><TableRowCell>@BuyQuantity</TableRowCell>
                <TableRowCell>Trend: </TableRowCell><TableRowCell>@BuyTrend</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Diff: </TableRowCell><TableRowCell>@Diff</TableRowCell>
                <TableRowCell>Target: </TableRowCell><TableRowCell>@Target</TableRowCell>
                <TableRowCell></TableRowCell><TableRowCell></TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Last success: </TableRowCell><TableRowCell>@LastSuccess</TableRowCell>
                <TableRowCell>Profit:</TableRowCell><TableRowCell>@Profit</TableRowCell>
                <TableRowCell></TableRowCell><TableRowCell></TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Last check: </TableRowCell><TableRowCell>@LastCheck</TableRowCell>
                <TableRowCell>Result:</TableRowCell><TableRowCell>@Result</TableRowCell>
                <TableRowCell></TableRowCell><TableRowCell></TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Next check: </TableRowCell><TableRowCell>@NextCheck</TableRowCell>
                <TableRowCell>Step:</TableRowCell><TableRowCell>@Step</TableRowCell>
                <TableRowCell></TableRowCell><TableRowCell></TableRowCell>
            </TableRow>
        </TableBody>
    </Table>
</Card>