@page "/edge/edit/{id?}"

@namespace EtAlii.CryptoMagic

@inherits EditBase<EdgeTrading> 

<Validations @ref="Validations" Mode="ValidationMode.Auto" ValidateOnLoad="false" EditContext="@EditContext" StatusChanged="OnValidationChanged">
<Row>
    <Column ColumnSize="DefaultLayout.ItemColumnWidth">
        <Card Margin="DefaultLayout.Margin">
            <CardHeader>
                <CardTitle>@(Id == null ? "Add new edge trade" : "Edit edge trade")</CardTitle>
            </CardHeader>
                <CardBody>

                    <Validation Validator="@ValidationRule.IsNotEmpty">
                        <Field>
                            <FieldLabel>Name</FieldLabel>
                            <TextEdit 
                                Placeholder="Enter name" 
                                Autofocus="true"
                                @bind-Text="@Model.Name">
                            </TextEdit>
                            <FieldHelp>The name with which the trade should be identified.</FieldHelp>
                        </Field>
                    </Validation>
                
                    <Field>
                        <FieldLabel>First symbol</FieldLabel>
                        <SymbolTextEdit
                            @bind-SelectedValue="@Symbol"
                            Placeholder="Symbol"/>
                        <FieldHelp>The symbol to use for the trade.</FieldHelp>
                    </Field>

                    <Validation Validator="@(e => HasQuantity(e))">
                        <Field>
                            <FieldLabel>Initial purchase</FieldLabel>
                            <Addons>
                                <Addon AddonType="AddonType.Start">
                                    <AddonLabel>@Model.ReferenceSymbol</AddonLabel>
                                </Addon>
                                <Addon AddonType="AddonType.Body">
                                    <NumericEdit
                                        TValue="decimal"
                                        Placeholder="Initial purchase" 
                                        @bind-Value="@Model.InitialPurchase"
                                        Min="10"
                                        Max="200">
                                    </NumericEdit>
                                </Addon>
                            </Addons>
                            <FieldHelp>The initial purchase to start the buy/sell cycle with.</FieldHelp>
                        </Field>
                    </Validation>

                    <Validation Validator="@ValidationRule.None">
                        <Field>
                            <FieldLabel>Connectivity</FieldLabel>
                                <RadioGroup TValue="TradeMethod" @bind-CheckedValue="@Model.TradeMethod" Orientation="Orientation.Vertical">
                                    <Radio TValue="TradeMethod" Value="@(TradeMethod.BackTest)">Backtest</Radio>
                                    <Radio TValue="TradeMethod" Value="@(TradeMethod.BinanceLive)">Interact with Binance</Radio>
                                    <Radio TValue="TradeMethod" Value="@(TradeMethod.BinanceTest)">Test calls to Binance</Radio>
                                </RadioGroup>
                        </Field>
                    </Validation>
                    
                    <Button Color="Color.Primary" Clicked="@Submit" disabled=@IsInvalid>Save</Button>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Validations>
