@page "/one-off/progress"

@namespace EtAlii.CryptoMagic

@inject AlgorithmManager _algorithmManager
@inject ApplicationContext _applicationContext

<Heading Margin="DefaultLayout.Margin">
    <Icon IconName="@("fa-chart-line")"/> One-off tradings: Progress
</Heading>

@if (_applicationContext.IsOperational)
{
    <Row>
        <Column ColumnSize="DefaultLayout.ItemOneOffColumnWidth">
            <Card Margin="DefaultLayout.Margin">
                <CardHeader>
                    <Icon Name="@("fa-chart-line")" />
                    Week progress 
                </CardHeader>
                <CardBody>
                    <CardText>
                        <Table Borderless="true" Narrow="true">
                            <TableBody>
                                <TableRow>
                                    <TableRowCell>This week: </TableRowCell>
                                    <TableRowCell>@($"{_currentWeekTotal} / {_currentWeekMax}")</TableRowCell>
                                </TableRow>
                                <TableRow>
                                    <TableRowCell>Average: </TableRowCell>
                                    <TableRowCell>~@($"{_averageWeekTotal:0.00}")</TableRowCell>
                                </TableRow>
                            </TableBody>
                        </Table>
                    </CardText>
                </CardBody>
            </Card>
        </Column>
        <Column ColumnSize="DefaultLayout.ItemOneOffColumnWidth">
            <Card Margin="DefaultLayout.Margin">
                <CardHeader>
                    <Icon Name="@("fa-chart-line")" />
                    Month progress 
                </CardHeader>
                <CardBody>
                    <CardText>
                        <Table Borderless="true" Narrow="true">
                            <TableBody>
                                <TableRow>
                                    <TableRowCell>This month: </TableRowCell>
                                    <TableRowCell>@($"{_currentMonthTotal} / {_currentMonthMax}")</TableRowCell>
                                </TableRow>
                                <TableRow>
                                    <TableRowCell>Average: </TableRowCell>
                                    <TableRowCell>~@($"{_averageMonthTotal:0.00}")</TableRowCell>
                                </TableRow>
                            </TableBody>
                        </Table>
                    </CardText>
                </CardBody>
            </Card>
        </Column>
        <Column ColumnSize="DefaultLayout.ItemOneOffColumnWidth">
            <Card Margin="DefaultLayout.Margin">
                <CardHeader>
                    <Icon Name="@("fa-chart-line")" />
                    Year progress 
                </CardHeader>
                <CardBody>
                    <CardText>
                        <Table Borderless="true" Narrow="true">
                            <TableBody>
                                <TableRow>
                                    <TableRowCell>This year: </TableRowCell>
                                    <TableRowCell>@($"{_currentYearTotal} / {_currentYearMax}")</TableRowCell>
                                </TableRow>
                                <TableRow>
                                    <TableRowCell>Average: </TableRowCell>
                                    <TableRowCell>~@($"{_averageYearTotal}")</TableRowCell>
                                </TableRow>
                            </TableBody>
                        </Table>
                    </CardText>
                </CardBody>
            </Card>
        </Column>
        <Column ColumnSize="DefaultLayout.ItemOneOffColumnWidth">
            <Card Margin="DefaultLayout.Margin">
                <CardHeader>
                    <Icon Name="@("fa-chart-line")" />
                    Total progress 
                </CardHeader>
                <CardBody>
                    <CardText>
                        <Table Borderless="true" Narrow="true">
                            <TableBody>
                                <TableRow>
                                    <TableRowCell>Total: </TableRowCell>
                                    <TableRowCell>@($"{_total} / 1000")</TableRowCell>
                                </TableRow>
                            </TableBody>
                        </Table>
                    </CardText>
                </CardBody>
            </Card>
        </Column>
    </Row>
}
else
{
    <Paragraph Margin="DefaultLayout.Margin">Application is not yet configured correctly</Paragraph>
}
