@namespace EtAlii.CryptoMagic

<Card>
    <CardHeader>@Title</CardHeader>
    <CardBody>
        <div class="grid">
            <div class="row">
                <div class="col-xs-3 col-sm-2">Sell: </div>
                <div class="col-xs-9 col-sm-3"><span style="@SellPriceStyle">@Transaction.SellPrice.ToHtml("+") @Trading.ReferenceSymbol</span></div>
                <div class="col-xs-3 col-sm-2">Quantity: </div>
                <div class="col-xs-9 col-sm-3">@Transaction.SellQuantity.ToHtml("+") @Transaction.SellSymbol</div>
                <div class="col-xs-3 col-sm-1">Trend: </div>
                <div class="col-xs-19 col-sm-1"><span style="@SellTrendStyle">@Transaction.SellTrend.ToShortHtml()</span></div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">Buy: </div>
                <div class="col-xs-9 col-sm-3"><span style="@BuyPriceStyle">@Transaction.BuyPrice.ToHtml("-") @Trading.ReferenceSymbol</span></div>
                <div class="col-xs-3 col-sm-2">Quantity: </div>
                <div class="col-xs-9 col-sm-3">@Transaction.BuyQuantity.ToHtml("-") @Transaction.BuySymbol</div>
                <div class="col-xs-3 col-sm-1">Trend: </div>
                <div class="col-xs-9 col-sm-1"><span style="@BuyTrendStyle">@Transaction.BuyTrend.ToShortHtml()</span></div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">Diff: </div>
                <div class="col-xs-9 col-sm-3"><span style="@DifferenceStyle">@Transaction.Difference.ToHtml() @Trading.ReferenceSymbol</span></div>
                <div class="col-xs-3 col-sm-2">Target: </div>
                <div class="col-xs-9 col-sm-3">@Transaction.Target.ToHtml("+") @Trading.ReferenceSymbol</div>
                <div class="col-xs-3 col-sm-1"></div>
                <div class="col-xs-9 col-sm-1"></div>
            </div>
        </div>
    </CardBody>
</Card>        
