@page "/one-off/edit/{id?}"

@namespace EtAlii.BinanceMagic.Service

@inherits EditBase<OneOffTrading> 

<Validations @ref="Validations" Mode="ValidationMode.Auto" ValidateOnLoad="false" EditContext="@EditContext" StatusChanged="OnValidationChanged">
<Row>
    <Column ColumnSize="DefaultLayout.ItemColumnWidth">
        <Card Margin="DefaultLayout.Margin">
            <CardHeader>
                <CardTitle>@(Id == null ? "Add new one-off trade" : "Edit one-off trade")</CardTitle>
            </CardHeader>
                <CardBody>
                    <Validation Validator="@ValidationRule.IsNotEmpty">
                        <Field>
                            <FieldLabel>Name</FieldLabel>
                            <TextEdit 
                                Placeholder="Enter name" 
                                Autofocus="true"
                                @bind-Text="@Model.Name">
                            </TextEdit>
                        </Field>
                    </Validation>
                    
                    <Field>
                        <FieldLabel>Symbol</FieldLabel>
                        <SymbolTextEdit
                            @bind-SelectedValue="@Model.Symbol"
                            HasValidSymbolChanged="@OnHasValidSymbolChanged"
                            Placeholder="Symbol"/>
                        <FieldHelp>The symbol to purchase and later sell.</FieldHelp>
                    </Field>
                    
                    <Validation Validator="@HasQuantity">
                        <Field>
                            <FieldLabel>Purchase price</FieldLabel>
                                <Addons>
                                    <Addon AddonType="AddonType.Start">
                                        <AddonLabel>@Model.ReferenceSymbol</AddonLabel>
                                    </Addon>
                                    <Addon AddonType="AddonType.Body">
                                        <NumericEdit
                                            Placeholder="Purchase price"
                                            @bind-Value="@PurchasePrice">
                                        </NumericEdit>
                                    </Addon>
                                    <Addon AddonType="AddonType.End">
                                        <Blazorise.Button Color="Color.Primary" Disabled="@(!CanFetchPrice)" Clicked="@OnFetchPriceClicked">Fetch</Blazorise.Button>
                                    </Addon>
                                </Addons>
                            <FieldHelp>@($"The price (in {Model.ReferenceSymbol}) to buy with.")</FieldHelp>
                        </Field>
                    </Validation>
        
                    <Validation Validator="@HasQuantity">
                        <Field>
                            <FieldLabel>Quote quantity</FieldLabel>
                                <Addons>
                                    <Addon AddonType="AddonType.Start">
                                        <AddonLabel>@Model.ReferenceSymbol</AddonLabel>
                                    </Addon>
                                    <Addon AddonType="AddonType.Body">
                                        <NumericEdit
                                            Placeholder="Quote quantity"
                                            @bind-Value="@QuoteQuantity">
                                        </NumericEdit>
                                    </Addon>
                                    <Addon AddonType="AddonType.End">
                                        <Button Color="Color.Primary" Clicked="@OnFetchQuoteQuantityClicked">Fetch</Button>
                                    </Addon>
                                </Addons>
                            <FieldHelp>@($"The money (in {Model.ReferenceSymbol}) to use in the purchase.")</FieldHelp>
                        </Field>
                    </Validation>
                    
                    <Button Color="Color.Primary" Clicked="@Submit" disabled=@IsInvalid>Save</Button>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Validations>
