@page "/circular/list"

@namespace EtAlii.BinanceMagic.Service

@inherits ListBase<CircularTrading>

<Heading Margin="Margin.Is4">
    <Icon IconName="@("fa-infinity")"/> Circular tradings
</Heading>

<ListGroup Margin="Margin.Is4">
    <Repeater Items="@Tradings">
        <ListGroupItem Clicked="@(() => OnTradingSelected(context.Trading.Id))">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@context.Trading.Name</h5>
                <small>@context.Trading.TradeMethod</small>
            </div>
                <Paragraph>Stuff goes here.</Paragraph>            
        </ListGroupItem>
    </Repeater>
</ListGroup>
@if (ApplicationContext.IsOperational)
{
    <ListGroup Margin="Margin.Is4">
        <ListGroupItem Clicked="@OnEditSelected">
            <Icon Name="@("fa-plus")"/> Add
        </ListGroupItem>
    </ListGroup>
}
else
{
    <Paragraph Margin="Margin.Is4">Application is not yet configured correctly</Paragraph>
}
