@namespace EtAlii.BinanceMagic.Service

<Card>
    <CardHeader>@Title</CardHeader>
    <Table Striped="false" Borderless="true" Narrow="true">
        <TableBody>
            <TableRow>
                <TableRowCell>Sell: </TableRowCell><TableRowCell><span style="@SellPriceStyle">@Snapshot.SellPrice.ToHtml("+") @Trading.ReferenceSymbol</span></TableRowCell>
                <TableRowCell>Quantity: </TableRowCell><TableRowCell>@Snapshot.SellQuantity.ToHtml("+") @Snapshot.SellSymbol</TableRowCell>
                <TableRowCell>Trend: </TableRowCell><TableRowCell><span style="@SellTrendStyle">@Snapshot.SellTrend.ToShortHtml()</span></TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Buy: </TableRowCell><TableRowCell><span style="@BuyPriceStyle">@Snapshot.BuyPrice.ToHtml("-") @Trading.ReferenceSymbol</span></TableRowCell>
                <TableRowCell>Quantity: </TableRowCell><TableRowCell>@Snapshot.BuyQuantity.ToHtml("-") @Snapshot.BuySymbol</TableRowCell>
                <TableRowCell>Trend: </TableRowCell><TableRowCell><span style="@BuyTrendStyle">@Snapshot.BuyTrend.ToShortHtml()</span></TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Diff: </TableRowCell><TableRowCell><span style="@DifferenceStyle">@Snapshot.Difference.ToHtml() @Trading.ReferenceSymbol</span></TableRowCell>
                <TableRowCell>Target: </TableRowCell><TableRowCell>@Snapshot.Target.ToHtml("+") @Trading.ReferenceSymbol</TableRowCell>
                <TableRowCell></TableRowCell><TableRowCell></TableRowCell>
            </TableRow>
        </TableBody>
    </Table>
</Card>        
