@namespace EtAlii.BinanceMagic.Service

<Card>
    <CardHeader>@Title</CardHeader>
    <Table Striped="false" Borderless="true" Narrow="true">
        <TableBody>
            <TableRow>
                <TableRowCell>Sell: </TableRowCell><TableRowCell><span style="@SellPriceStyle">@Decimal(Snapshot.SellPrice, "+") @Trading.ReferenceSymbol</span></TableRowCell>
                <TableRowCell>Quantity: </TableRowCell><TableRowCell>@Decimal(Snapshot.SellQuantity, "+") @Snapshot.SellSymbol</TableRowCell>
                <TableRowCell>Trend: </TableRowCell><TableRowCell><span style="@SellTrendStyle">@DecimalShort(Snapshot.SellTrend)</span></TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Buy: </TableRowCell><TableRowCell><span style="@BuyPriceStyle">@Decimal(Snapshot.BuyPrice, "-") @Trading.ReferenceSymbol</span></TableRowCell>
                <TableRowCell>Quantity: </TableRowCell><TableRowCell>@Decimal(Snapshot.BuyQuantity, "-") @Snapshot.BuySymbol</TableRowCell>
                <TableRowCell>Trend: </TableRowCell><TableRowCell><span style="@BuyTrendStyle">@DecimalShort(Snapshot.BuyTrend)</span></TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Diff: </TableRowCell><TableRowCell><span style="@DifferenceStyle">@Decimal(Snapshot.Difference) @Trading.ReferenceSymbol</span></TableRowCell>
                <TableRowCell>Target: </TableRowCell><TableRowCell>@Decimal(Snapshot.Target, "+") @Trading.ReferenceSymbol</TableRowCell>
                <TableRowCell></TableRowCell><TableRowCell></TableRowCell>
            </TableRow>
        </TableBody>
    </Table>
</Card>        
