@namespace EtAlii.BinanceMagic.Service

<ListGroupItem Clicked="@(() => OnTradingSelected(Context.Trading.Id))">
    <h5 class="mb-1">@Context.Trading.Name</h5>
    <Steps>
        <Items>
            <Step Name="Start">
                <Marker><Icon Name="@("fa-angle-right")" /></Marker>
                <Caption><small><div class="text-center">@((MarkupString)Context.Trading.Start.ToMultiLineHtml())</div></small></Caption>
            </Step>
            <Step Name="LastSuccess">
                <Marker><Icon Name="IconName.Check" /></Marker>
                <Caption><small><div class="text-center">@((MarkupString)Context.CurrentTransaction?.LastSuccess.ToMultiLineHtml("None"))</div></small></Caption>
            </Step>
            <Step Name="NextAction">
                <Marker><Icon Name="@("fa-history")" /></Marker>
                <Caption><small><div class="text-center">@((MarkupString)Context.CurrentTransaction?.NextCheck.ToMultiLineHtml("Now"))</div></small></Caption>
            </Step>
            <Step Name="End">
                <Marker><Icon Name="@(Context.Trading.TradeMethod == TradeMethod.BackTest ? "fa-flag-checkered" : "fa-infinity")"/></Marker>   
                <Caption><small><div class="text-center">@Context.Trading.End.ToMultiLineHtml()</div></small></Caption>
            </Step>
        </Items>
        <Content>
            <StepPanel Name="Start" />
            <StepPanel Name="LastSuccess" />
            <StepPanel Name="NextAction" />
            <StepPanel Name="End" />
        </Content>
    </Steps>
    <h1 class="text-right">@Context.CurrentTransaction.Profit.ToHtml("") @Context.Trading.ReferenceSymbol</h1>            
</ListGroupItem>
