@page "/circular/list"

@namespace EtAlii.BinanceMagic.Service

@inherits ListBase<CircularTradeSnapshot, CircularTrading>

<Heading Margin="Margin.Is4">
    <Icon IconName="@("fa-infinity")"/> Circular tradings
</Heading>

<ListGroup Margin="Margin.Is4">
    <Repeater Items="@Tradings">
        <ListGroupItem Clicked="@(() => OnTradingSelected(context.Context.Trading.Id))">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@context.Context.Trading.Name</h5>
                <small>@context.Context.Snapshot.Step</small>
            </div>
                <Paragraph>@context.Context.Snapshot.Profit @context.Context.Trading.ReferenceSymbol</Paragraph>            
                <Paragraph>Last: @context.Context.Snapshot.LastSuccess</Paragraph>            
        </ListGroupItem>
    </Repeater>
</ListGroup>
@if (ApplicationContext.IsOperational)
{
    <ListGroup Margin="Margin.Is4">
        <ListGroupItem Clicked="@OnEditSelected">
            <Icon Name="@("fa-plus")"/> Add
        </ListGroupItem>
    </ListGroup>
}
else
{
    <Paragraph Margin="Margin.Is4">Application is not yet configured correctly</Paragraph>
}
